__pycache__/
node_modules/
.deepeval/
.env*
.env.tests*
volumes/
bm25_index.pkl*

incident_embeddings_backup.parquet
data/incident_embeddings_backup.parquet
data/incident_resolution_embeddings_backup.parquet
